<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <div class="nav mb-10">
            <a href="/read" class="text-blue-200">Read Users</a>
        </div>

        <div class="nav mb-10">
            <a href="/" class="text-blue-200">Back to home</a>
        </div>

        <h1 class="text-3xl mb-5 tracking-lighter">Edit User</h1>

        <form action="/update/<%=user._id%>" method="post">
            <input type="text" placeholder="Name" name="name" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600" value="<%= user.name %>">

            <input type="email" placeholder="Email" name="email" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600" value="<%= user.email %>">

            <input type="text" placeholder="Image URL" name="image" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600" value="<%= user.image %>">
            
            <input type="submit" class=" px-5 py-3 bg-yellow-200 rounded rounded-lg text-black cursor-pointer" value="Update User">
        </form>
    </div>  
</body>
</html>