<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD operations with Node.js and MongoDB - Prac2</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <h1 class="text-3xl mb-5 tracking-lighter">Create User</h1>
        <form action="POST">
            <input type="text" placeholder="Name" name="name" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600">
            <input type="email" placeholder="Email" name="email" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600">
            <input type="text" placeholder="Image URL" name="imageurl" class=" mx-5 m px-5 py-3 bg-transparent border border-zinc-600">
            <input type="submit" class=" px-5 py-3 bg-blue-500 rounded rounded-lg" value="Create User">
        </form>
    </div>  
</body>
</html>