<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD operations with Node.js and MongoDB - Prac2</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <h1 class="text-3xl mb-5 tracking-lighter">All Users</h1>
        <div class="users flex flex-wrap gap-5">
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 text-center tracking-lighter">Hrushikesh Keshav Vinchurkar</h3>
                <h5 class="text-zinc-500 mt-2 text-center tracking-lighter">a@b.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="">Edit USer</a>
                    <a class="text-red-600" href="">Delete USer</a>
                </div>
            </div>

            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 text-center tracking-lighter">Madhumita Yogendra Sugandhi</h3>
                <h5 class="text-zinc-500 mt-2 text-center tracking-lighter">b@c.com</h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-zinc-200" href="">Edit USer</a>
                    <a class="text-red-600" href="">Delete USer</a>
                </div>
            </div>

        </div>
        
    </div>  
</body>
</html>